<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SolutionDir" value="../../" />
    <add key="SolutionName" value="NuGetPackagesBackup" />
    <add key="NuGetPackagesBackupDir" value="../../Additions/packages" />
    <add key="NuGetDistributionDir" value="../nuget" />
  </appSettings>
</configuration>